<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Word Count</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>MY WORD COUNT IN MY SENTENCE</h1>
				</div>
				<form action="/result" method="post">
					<div class="col-md-6">
						<label for="originalWord">Original Word</label>
						<input type="text" name="originalWord" placeholder="Original Word">
					</div>
					<div class="col-md-6">
						<label for="originalSentence">Original Sentence</label>
						<input type="text" name="originalSentence" placeholder="Original Sentence"><br><br><br><br>
					</div>
					<button type="submit" class="form-control">Count Your Word In Your Sentence</button>
				</form>
			</div>
		</div>
	</body>
</html>
