<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Word Count</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>MY WORD COUNT IN MY SENTENCE</h1>
				</div>
				<div class="col-md-12">
					<h2>Matching of the word: "@Model.GetWord()"</h2>
				@{
            int wordcount = Model.CountRepeats();
  					if (wordcount == 0)
            {
              <h2>Your word has no match; Click below to try again!!!</h2>
            }
            else
						{
							<h2>Returned a count of: Model</h2>
						}
				 }
				</div>
			</div>
      <a href="/">Try a new match</a>
		</div>
	</body>
</html>
